@media screen and (max-width: 576px) 
{
  *{
    scrollbar-width: none;
  }
  .margin {
    padding: 30px;
    margin: 0;
  }
  .main-part {
    height: auto;
  }
  .right-list {
    visibility: hidden;
    display: none;
  }
  .hamburger {
    display: block;
  }
  .left-container {
    width: 100%;
    height: 100%;
  }
  .right-container {
    width: 100%;
    /* border: 2px solid red; */
    /* left: -50px; */
  }
  .tag-content-two {
    right: 0px;
    top: 80px;
    width: 170px;
    height: 100px;
  }
  .tag-content-two p {
    font-size: 12px;
    padding-left: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  .container-div,
  .change-card {
    flex-direction: column;
  }
  .style-text {
    font-weight: 700;
    font-size: 3.5rem;
  }
  .heading-container {
    font-weight: 700;
    font-size: 3.5rem;
    /* border: 2px solid red; */
  }
  .heading-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: left;
    padding-top: 30px;
    margin-right: 150px;
  }
  .tag-one {
    left: 100px;
    bottom: 250px;
    width: 180px;
    height: 95px;
  }
  .header-button{
    display: flex;
    flex-direction: row;
  }
  .header-button-one,
.header-button-two {
  margin-top: 28px;
  width: 50%;
  height: 54px;
  border-radius: 42px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
}
  .main-part {
    padding-top: 700px;
  }
  .change-header{
    margin-top: 20px;
  }
  .change-header h1 {
    font-size: 2.5rem;
    line-height: 60px;
    padding-top: 20px;
    margin-bottom: 0;
  }
  .change-header p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.9rem;
}
  .change-card {
    gap: 50px;
  }
  .run-extra-right {
    display: none;
  }
  .run-extra-main {
    /* border: 2px solid red; */
    height: 800px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 25px;
    justify-content: space-between;
    flex-direction: column;
  }
  .run-extra-left {
    width: 100%;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    /* border: 1px solid red; */
  }
  .run-extra-left h1 {
    font-size: 2.5rem;
    font-weight: 900;
    padding-right:50px;
    line-height: 4.5rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }
  .run-extra-left p {
    padding-right: 100px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.9rem;
    letter-spacing: 1px;
  }
  .run-extra-button {
    width: 83%;
    margin: 40px auto;

    margin-bottom: 10px;
  }
  .run-extra-right-responsive {
    display: block;
    position: relative;
    padding: 30px;
    /* border: 2px solid red; */
  }
  .run-extra-right-responsive img {
    width: 100%;
    /* weight: 420px; */
    height: 100%;
    border-radius: 25px;
  }
  /* BMI Calculator Start */
  .bmi-calculator {
    width: 100%;
    margin-bottom: 50px;
    /* border: 2px solid red; */
  }

  .bmi-heading {
    /* border: 2px solid red; */
    margin: 0;
    padding: 30px;
  }
  .bmi-both-part {
    flex-direction: column;
  }
  .left-bmi {
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 30px;
    margin-bottom: 0;
  }
  .right-bmi {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 0;
    /* border: 2px solid red; */
  }
  td,
  th {
    padding: 20px 2.5rem;
    text-align: left;
  }
  .bmi-content h1 {
    font-size: 2.5rem;
  }
  .bmi-content p {
    font-size: 1.1rem;
    padding-right: 30px;
    line-height: 1.9rem;
    letter-spacing: 1px;
  }
  .right-bmi-box > div > .run-extra-button {
    width: 60%;
    margin: 40px auto;
  }
  .meet-header {
    padding: 0px;
    /* border: 2px solid red; */
  }
  .meet-header h1 {
    font-size: 2.5rem;
  }
  .meet-header p {
    line-height: 1.9rem;
    letter-spacing: 1px;
  }
  .image {
    width: 100%;
  }
  .meet-first-image-row {
    flex-direction: column;
    gap: 30px;
    /* border: 2px solid red; */
  }
  .meet-first-image-row img {
  }
  .meet-second-image-row {
    gap: 30px;
    /* border: 2px solid red; */
    flex-direction: column;
  }
  .images-direction1{
    display: none;
  }
  .images-direction4{
    display: none;
  }


  .footer-part {
    margin: 0;
    height: 1170px;
    padding-top: 50px;
  }
  .footer-main {
    margin: 0;
    flex-direction: column;
  }
  .left-footer {
    width: 100%;
    margin-bottom: 50px;
    /* border: 2px solid red; */
    /* margin-bottom: 150px; */
  }
  .middle-footer {
    width: 100%;
    margin-bottom: 20px;
    /* border: 2px solid red; */
    /* margin-bottom: 150px; */
  }
  .right-footer {
    width: 100%;
    margin-bottom: 50px;
    /* border: 2px solid red; */
    /* margin-bottom: 150px; */
  }
  .middle-footer > ul > li,
  .right-footer > ul > li {
    /* border: 2px solid red; */
    width: 100%;
    padding-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.9rem;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
  }
  .middle-footer > ul > li > a,
  .right-footer > ul > li > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  .left-footer p {
    line-height: 1.9rem;
    letter-spacing: 1px;
  }
  .left-footer h1 {
    font-size: 2.5rem;
  }
  .last-footer {
    margin-top: 600px;
  }
  .footer-copyright {
    flex-direction: column;
    height: 100%;
  }
  .footer-copyright p {
    font-size: 1.2rem;
    line-height: 1.9rem;
    letter-spacing: 1px;
  }
  .hr-color{
    display: none;
  }
  .hr-colors{
    margin: 0 30px;
    margin-bottom: 50px;
    display: block;
  }
}
