@media screen and (max-width: 576px) {
  .body {
    /* scrollbar-width: none; */
  }
  .right-list {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .nav-part {
    margin: 0 20px;
  }
  .right-nav {
    border: none;
  }
  .container-div {
    /* border: 2px solid rgb(255, 0, 0); */
    /* width: 100%; */
    margin: 0 20px;
    flex-direction: column;
  }
  header {
    padding-bottom: 0px;
  }
  .left-container {
    /* border: 2px solid greenyellow; */
    width: 100%;
    /* margin: 0 auto; */
  }
  .style-text {
    font-size: 100px;
  }
  .left-container h1 {
    font-size: 50px;
    margin-right: 125px;
  }
  .left-container p {
    margin-right: 80px;
  }
  .right-container {
    /* width: 100%; */
    /* border: 2px solid red; */
  }
  .header-button {
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
  }
  .header-button-one {
    margin-right: 0;
    width: 50%;
  }
  .header-button-two {
    width: 50%;
  }
  .header-button-one,
  .header-button-two {
    margin-top: 28px;
    /* width: 200px; */
    height: 55px;
    border-radius: 42px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
  }
  .right-container {
    position: relative;
    width: 100%;
    height: 300px;
    /* border: 2px solid red; */
  }
  .right-container img {
    /* border: 2px solid red; */
    position: absolute;
    top: 50px;
    margin: 0 20px;
    right: 100px;
    width: 200px;
  }
  /* Tag Images Part */
  .tag-one {
    position: absolute;
    right: 150px;
    top: 190px;
    /* display: flex; */
    gap: 0px;
    width: 150px;
    height: 60px;
    /* align-items: center; */
    background-color: rgba(255, 255, 255, 0.134);
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* justify-content: center; */
    backdrop-filter: blur(10px);
    border-radius: 12px;
  }
  .tag-content-one {
    gap: 0px;
  }
  .tag-content-one h1 {
    padding-left: 30px;
    font-size: 20px;
    /* padding-top: 20px; */
    /* margin-bottom: 100px; */
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0.3px;
  }
  .tag-content-one p {
    padding-left: 30px;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
    line-height: 2px;
    letter-spacing: 0.5px;
  }
  .mini-circle {
    display: none;
    background-color: rgb(230, 83, 60);
    width: 40px;
    border-radius: 50%;
    height: 40px;
  }

  .icon-mobile img {
    display: block;
    position: absolute;
    z-index: 2;
    left: -40px;
    top: 8px;
    /* bottom: 112px; */
    /* right: 348px; */
    width: 85px;
    height: 45px;
  }

  /* Tag one End */

  /* Tag two Start */

  .tag-content-two {
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 80px;
    display: flex;
    gap: 0px;
    margin: 0px 0px;
    width: 185px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.134);
    border: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    /* border: 2px solid red; */
  }
  .tag-content-two h1 {
    /* border: 2px solid red; */
    padding-left: 10px;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0.3px;
  }
  .tag-content-two p {
    padding-left: 10px;

    font-size: 16px;
    /* padding-left: 2px; */
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0.5px;
    /* margin: -10px; */
  }
  /* Header Section End */
  /* Change Style Start */
  .change-header {
    margin: 0 30px;
  }
  .change-header h1 {
    font-size: 35px;
  }
  .change-header p {
    margin: 0 35px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding-bottom: 70px;
  }
  .change-card {
    margin: 0 120px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    /* border: 2px solid red; */
    padding-bottom: 100px;
    flex-direction: column;
  }
  .change-card img {
    margin: 0 20px;
  }
  /* Change Style End */
  /* Run Style Start */
  .run-extra-section {
    padding-bottom: 60px;
  }
  .run-extra-main {
    /* border: 2px solid red; */
    margin: 0 20px;
    flex-direction: column;
    padding: 30px;
  }
  .run-extra-left {
    width: 100%;
    padding: 0px;
    padding-bottom: 30px;
    /* border: 1px solid red; */
  }
  .run-extra-left h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
  .run-extra-left p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.9rem;
    letter-spacing: 1px;
    margin-right: 45px;
  }
  .run-extra-button {
    margin-top: 2.5rem;
    width: 100%;
    margin-right: 0px;
  }
  /* Run Image */
  .run-extra-right {
    display: none;
  }
  .run-extra-right-responsive {
    width: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .run-extra-right-responsive img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
  }
  /* Run Extra End */
  /* Bmi Calculator Start */
  .bmi-calculator-section {
    background-color: black;
    /* width: 100%; */
    /* margin-bottom: 100px; */
  }
  .bmi-calculator {
    /* margin: 0 250px; */
  }
  .bmi-heading {
    /* border: 2px solid red; */
    margin: 0 20px;
    padding-bottom: 50px;
  }
  .bmi-content {
    justify-content: center;
    text-align: left;
    /* margin-left: 300px; */
    /* border: 2px solid red; */
    flex-direction: column;
  }
  .bmi-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .bmi-content p {
    margin-right: 20px;
  }
  .bmi-background {
    background-color: rgba(255, 255, 255, 0.13);
    padding-bottom: 50px;
  }
  .bmi-both-part {
    /* border: 2px solid red; */
    width: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
  }
  .left-bmi {
    margin-top: 50px;
    width: 100%;
    flex-direction: column;
    /* border: 2px solid red; */
  }
  .left-bmi h1 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  td,
  th {
    padding: 20px 3.5rem;
  }
  /* Left BMI End */
  /* Right BMI Start */
  .right-bmi {
    width: 100%;
    margin: 0;
    /* border: 2px solid red; */
  }
  .right-bmi h1 {
    font-size: 25px;
  }
  .right-bmi p {
    margin-bottom: 20px;
  }
  .bmi-button {
    width: 60%;
  }
  /* Right BMI End */

  /* Bmi Calculator End */

  /* Unique Challenge Style Start */
  .unique-both {
    /* background-color: rgb(0, 0, 0); */
    padding-top: 0px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .unique-left h1 {
    /* color: black; */
    padding-top: 50px;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 20px;
    /* text-align: center; */
  }
  .unique-left p {
    /* color: black; */
    /* padding-top: 50px; */
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 400;
    line-height: 1.9rem;
    margin-bottom: 40px;
    letter-spacing: 0.1px;
    /* margin-bottom: 20px; */
  }
  .tik-mark {
    padding-top: 0px;
    align-items: center;
    justify-content: center;
  }
  .tik-mark img {
    padding-bottom: 30px;
    width: 150px;
  }
  .unique-left {
    /* border: 2px solid red; */
    width: 100%;
    /* background-color: rgba(255, 0, 0, 0.1); */
  }

  .unique-right {
    width: 100%;
    /* border: 2px solid red; */
  }
  .unique-right img {
    width: 100%;
  }
  /* Unique Challenge Style End */
  /* Meet Section Style */
  .meet-section {
    background-color: black;
  }
  .meet-main {
    padding-bottom: 80px;
  }
  .meet-header {
    margin: 0 20px;
    flex-direction: column;
    text-align: center;
  }

  .meet-header h1 {
    padding-top: 50px;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .meet-header p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.9rem;
    /* margin-bottom: 400px; */
    letter-spacing: 1px;
    padding-bottom: 50px;
    margin: 0 20px;
  }

  .meet-first-image-row {
    /* margin: 0 250px; */
    /* margin-top: 30px; */
    justify-content: space-between;
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }
  .meet-second-image-row {
    /* margin: 0 250px; */
    /* margin-top: 30px; */
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-direction: column;
  }
  .meet-background-color {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 20px;
    /* border: 2px solid red; */
    border-radius: 15px;
    padding: 30px;
  }
  .images-direction1 {
    display: none;
  }.images-direction4 {
    display: none;
  }
  .images-direction1 ,
.images-direction2 ,
.images-direction3 ,
.images-direction4 ,
.images-direction5 ,
.images-direction6 {
  width: 100%;
}
.image {
  width: 100%;
}
.images-direction2{
  text-overflow: ellipsis;
}
.images-direction1 h3,
.images-direction2 h3,
.images-direction3 h3,
.images-direction4 h3,
.images-direction5 h3,
.images-direction6 h3 {
  font-size: 1.2rem;
  font-weight: 800;
}
.images-direction1 p,
.images-direction2 p,
.images-direction3 p,
.images-direction4 p,
.images-direction5 p,
.images-direction6 p {
  font-size: 1rem;
}
  /* Meet Section End */

  /* Footer Style Start */
  footer {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .footer-main {
    /* border: 2px solid red; */
    margin: 0 20px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
  }
  .left-footer {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    /* border: 2px solid red; */
  }
  .left-footer h1 {
    /* border: 2px solid red; */
    font-size: 4rem;
    padding-bottom: 20px;
  }
  .left-footer p {
    margin-right: 100px;
    /* border: 2px solid red; */
  }
  .middle-footer h2,
  .right-footer h2 {
    font-size: 1.8rem;
  }
  
  .middle-footer {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
  }
  .right-footer {
    width: 100%;
    height: 350px;
    /* border: 2px solid red; */
  }
  .footer-copyright {
    height: 150px;
    /* border: 2px solid red; */
    /* text-align: left; */
    margin: 0 20px;
    justify-content: left;
    align-items: center;
  }
  .footer-copyright p {
    font-size: 1.5rem;
  }
  .hr-color {
    display: none;
  }
  .hr-colors {
    margin: 0 20px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }





  /* Footer Style End */
}
