@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  color: white;
}
.display-flex {
  display: flex;
}
.orange-color {
  color: rgb(230, 83, 60);
}
.black-low-opacity-color {
  color: rgba(255, 255, 255, 0.5);
}

.style-text {
  font-size: 100px;
  font-family: "Dancing Script", cursive;
}
/* Initial style Complete */

/* Header style start */
.hamburger {
  display: none;
}
header {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.9) 25%,
    rgba(0, 0, 0, 0.88) 50%,
    rgba(0, 0, 0, 0.9) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  padding-bottom: 50px;
  /* border: 2px solid white; */
}

.nav-part {
  margin: 0 250px;
}
.home-button {
  /* border: 2px solid yellow; */
  padding: 8px 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  background-color: rgb(230, 83, 60);
  border-radius: 25px;
  margin-left: -20px;
}
.right-list {
  /* border: 2px solid yellow; */
  gap: 1.5rem;
  list-style: none;
}
.right-list a {
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  font-size: 18px;
  /* font-weight: 600; */
  line-height: 22px;
  letter-spacing: 0%;
}
.nav-part {
  /* border: 2px solid red; */
  padding-top: 70px;
  justify-content: space-between;
}
.left-nav {
  font-size: 30px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.right-nav {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 10px 3px;
}
.container-div {
  background-repeat: no-repeat;
  margin: 0 250px;
}
.left-container {
  padding-top: 96px;
  width: 50%;
  /* border: 2px solid white; */
}

.left-container {
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.heading-container {
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.heading-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  padding-top: 30px;
}

.header-button-one,
.header-button-two {
  margin-top: 28px;
  width: 224px;
  height: 54px;
  border-radius: 42px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
}
.header-button-one {
  background-color: rgb(230, 83, 60);
  border: 1px solid rgb(230, 83, 60);
  margin-right: 14px;
  cursor: pointer;
}
.header-button-two {
  cursor: pointer;
  background: transparent;
  border: 1px solid white;
}
.right-container {
  position: relative;
  width: 50%;
  /* border: 2px solid red; */
}
.right-container img {
  position: absolute;
  top: 50px;
  right: 20px;
}
.tag-one {
  position: absolute;
  right: 255px;
  bottom: 10px;
  display: flex;
  gap: 10px;
  width: 206px;
  height: 96px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.134);
  border: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: center;
  backdrop-filter: blur(10px);
  border-radius: 12px;
}
.tag-content-one {
  gap: 20px;
}
.tag-content-one h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.tag-content-one p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.mini-circle {
  /* display: none; */
  background-color: rgb(230, 83, 60);
  width: 40px;
  border-radius: 50%;
  height: 40px;
}

.icon-mobile img {
  display: none;
  position: absolute;
  z-index: 2;
  bottom: 112px;
  right: 348px;
  width: 130px;
  height: 70px;
}
.tag-content-two {
  flex-direction: column;
  position: absolute;
  right: -70px;
  top: 170px;
  display: flex;
  gap: 10px;
  margin: 0 auto;
  width: 210px;
  height: 105px;
  background-color: rgba(255, 255, 255, 0.134);
  border: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: center;
  backdrop-filter: blur(10px);
  border-radius: 12px;
}
.tag-content-two h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  padding-left: 24px;
  letter-spacing: 1px;
}
.tag-content-two p {
  font-size: 16px;
  padding-left: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
/* Header style End*/
.change-section {
  background-color: black;
  padding-top: 50px;
}
.change-header {
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}
.change-header h1 {
  padding-top: 20px;
  margin: 2rem 0;
  font-size: 65px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
}
.change-header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding-bottom: 70px;
}
/* Change Header Style End */

.change-card {
  margin: 0 250px;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  /* border: 2px solid red; */
  padding-bottom: 100px;
}
.change-card img {
  border-radius: 50%;
}
.cards {
  flex-direction: column;
  text-align: center;
}
.cards p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.cards h3 {
  font-size: 25px;
  margin-top: 2rem;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
}
/* Change Style End */

/* Run Extra Style Start */
.run-extra-section {
  background-color: black;
  padding-bottom: 100px;
}
.run-extra-main {
  /* border: 2px solid red; */
  margin: 0 250px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 25px;
  justify-content: space-between;
  padding: 30px;
}
.run-extra-left {
  width: 50%;
  padding-top: 60px;
  padding-left: 70px;
  padding-bottom: 50px;
  /* border: 1px solid red; */
}
.run-extra-left h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 4.5rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.run-extra-left p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 1px;
}
.run-extra-button {
  margin-top: 2.5rem;
  width: 300px;
  height: 75px;
  border-radius: 42px;
  color: white;
  font-weight: 500;
  font-size: 25px;
  line-height: 22px;
  letter-spacing: 0px;
  background-color: rgb(230, 83, 60);
  border: 1px solid rgb(230, 83, 60);
  margin-right: 14px;
  cursor: pointer;
}
.run-extra-right {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 15px;
  /* border: 1px solid red; */
}
.run-extra-right img {
  weight: 100%;
  height: 100%;
  border-radius: 25px;
}
/* Responsive images */
.run-extra-right-responsive {
  display: none;
}
/* Run Extra Style End */

/* BMI Calculator Style Start */

.bmi-calculator-section {
  background-color: black;
  /* width: 100%; */
  /* margin-bottom: 100px; */
}
.bmi-calculator {
  /* margin: 0 250px; */
}
.bmi-heading {
  /* border: 2px solid red; */
  margin: 0 550px;
  padding-bottom: 90px;
}
.bmi-content {
  justify-content: center;
  text-align: left;
  /* margin-left: 300px; */
  /* border: 2px solid red; */
  flex-direction: column;
}
.bmi-content h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 4.5rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.bmi-content p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 1px;
}
.bmi-background {
  background-color: rgba(255, 255, 255, 0.13);
}
.bmi-both-part {
  /* border: 2px solid red; */
  width: 100%;
  margin: 0 250px;
}
.left-bmi {
  margin: 100px 0 70px 0;
  width: 50%;
  flex-direction: column;
  /* border: 2px solid red; */
}
.left-bmi h1 {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 3rem;
  text-align: left;
}
td {
  color: rgba(255, 255, 255, 0.5);
}

/* Left BMI End */

.right-bmi {
  width: 50%;
  margin: 100px 0;
  margin: 100px 0 70px 0;
  /* border: 2px solid red; */
  flex-direction: column;
}
.right-bmi h1 {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.right-bmi p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.9rem;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.text {
  margin-bottom: 10px;
  justify-content: space-between;
}
.text-style {
  /* color: white; */
  width: 100%;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.12);
  border: none;
}
::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 1px;
}
.right-bmi-box {
  flex-direction: column;
}
select {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 1px;
  padding-right: 15.5px;
}
.text {
  gap: 10px;
}

/* BMI Calculator Style End */

/* Meet Style Start */

.meet-section {
  background-color: black;
}
.meet-header {
  margin: 0 250px;
  flex-direction: column;
  text-align: center;
}

.meet-header h1 {
  padding-top: 50px;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.meet-header p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.9rem;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.meet-first-image-row {
  margin: 0 250px;
  margin-top: 30px;
  justify-content: space-between;
}

.image {
  border-radius: 15px;
  height: 385px;
  width: 455px;
}
.images-direction1 {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(images/trainer1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  display: block;
}
.images-direction2 {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(images/trainer2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.images-direction3 {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(images/trainer3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.images-direction4 {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(images/trainer4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.images-direction5 {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(images/trainer5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  display: block;
}
.images-direction6 {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(images/trainer6.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.images-direction {
  position: relative;
  flex-direction: column;
}
.images-direction1 h3,
.images-direction2 h3,
.images-direction3 h3,
.images-direction4 h3,
.images-direction5 h3,
.images-direction6 h3 {
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 1px;
}
.images-direction1 p,
.images-direction2 p,
.images-direction3 p,
.images-direction4 p,
.images-direction5 p,
.images-direction6 p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 1px;
}
.image-content {
  padding-left: 30px;
  padding-top: 300px;
  position: absolute;
  flex-direction: column;
  text-align: left;
}
.meet-second-image-row {
  margin: 0 250px;
  margin-top: 18px;
  justify-content: space-between;
  padding-bottom: 100px;
}

/* Meet Style End */
/* Unique Section Start */
#unique-section {
  background-color: rgb(0, 0, 0);
  /* width: 100%; */
  /* border: 2px solid red; */
  /* height: 700px; */
  /* color: black; */
}
.unique-both {
  /* background-color: rgb(0, 0, 0); */
  padding-top: 30px;
  margin: 0 250px;
  display: flex;
  gap: 50px;

}
.unique-left h1 {
  /* color: black; */
  padding-top: 50px;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1px;
  /* margin-bottom: 20px; */
}
.unique-left p {
  /* color: black; */
  /* padding-top: 50px; */
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.9rem;
  margin-bottom: 40px;
  letter-spacing: 1px;
  /* margin-bottom: 20px; */
}
.tik-mark{
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}
.tik-mark img {
  padding-bottom: 30px;
  width: 150px;
}
.unique-left {
  /* border: 2px solid red; */
  width: 50%;
  /* background-color: rgba(255, 0, 0, 0.1); */
}

.unique-right {
  width: 50%;
  /* border: 2px solid red; */
}
.unique-right img{
  width: 900px;
}
/* Unique Section End */

/* Footer Style Start */

footer {
  background-color: rgba(0, 0, 0, 0.9);
}
.footer-main {
  margin: 0 250px;
  padding-top: 100px;
}
.left-footer {
  width: 50%;
  height: 350px;
  /* border: 2px solid red; */
}
.left-footer h1 {
  /* border: 2px solid red; */
  font-size: 7rem;
  color: rgb(230, 83, 60);
  font-weight: 900;
  letter-spacing: 1px;
  padding-bottom: 30px;
}
.left-footer p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 1px;
}
.middle-footer > ul > li,
.right-footer > ul > li {
  list-style: none;
  padding-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
}
.middle-footer > ul > li > a,
.right-footer > ul > li > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.middle-footer h2,
.right-footer h2 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 50px;
}

.middle-footer {
  width: 25%;
  height: 350px;
  /* border: 2px solid red; */
}
.right-footer {
  width: 25%;
  height: 350px;
  /* border: 2px solid red; */
}
.footer-copyright {
  height: 150px;
  /* border: 2px solid red; */
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footer-copyright p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 1px;
}
.hr-color {
  margin: 0 250px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.hr-colors {
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Footer Style End */
