@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  color: white;
  width: 100%;
}
.header-part {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.82) 25%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.82) 75%,
    rgba(0, 0, 0, 0.9) 100%
  );
  height: 715px;

  width: 100%;
}
.main-part {
  width: 100%;
  background-color: black;
}
.footer-part {
  width: 100%;
  background-color: black;
}
.style-text {
  font-family: "Dancing Script", cursive;
}
.display-flex {
  display: flex;
}
.align-item-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.orange-color {
  color: rgb(230, 83, 60);
}
/* Start heading section style! */

.header-section {
  /* border: 3px solid red;   */
  margin: 0px 190px;
}
.navigation-div {
  padding: 58px 0;
  justify-content: space-between;
}
.left-nav {
  font-size: 30px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.right-nav {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 10px 3px;
}
.right-list {
  gap: 4rem;
  list-style: none;
}
.right-list a {
  color: white;
  text-decoration: none;
}
.home-button {
  /* border: 2px solid yellow; */
  padding: 8px 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  background-color: rgb(230, 83, 60);
  border-radius: 25px;
}
.about-padding-right {
  margin-right: 20px;
}
/* Navigation part END */

/* Now header Container part start */




